<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenPFDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>779AF4881C7FEC6B00037DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>779AF4A11C7FEC6B00037DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>779AF4AC1C7FEC6C00037DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
